advection
ThreeDimensional
pics
_build
__pycache__
.ipynb_checkpoints
*.nc
*.json
!CMakePresets.json
*.mp4
*.png

## Binary files
continuity
navier_stokes
plasma
temp_navier_stokes
temp_plasma

build/
Debug/
Release/
*.vcxproj*
*.exe
*.dll

## Python environments
.venv*

## User specific files
.user/